<%= turbo_frame_tag "manual_investments_#{manual_investment.id}" do %>
  <div data-sort-code=<%= manual_investment.bought_at %>>
    <p>
      <strong>Bought at:</strong>
      <%= manual_investment.bought_at %>
    </p>

    <p>
      <strong>Value:</strong>
      <%= manual_investment.value %>
    </p>

    <p>
      <strong>Investment name:</strong>
      <%= manual_investment.investment_name %>
    </p>
    <%= link_to "Edit", edit_manual_investment_path(manual_investment) %>
  </div>
<% end %>
