<p style="color: green"><%= notice %></p>

<h1>Manual investments</h1>

<%= turbo_frame_tag "new_manual_investment", src: new_manual_investment_path, target: '_top' %>

  <p>Manual investments: 
  <%= turbo_frame_tag "manual_investments_count" do %>
    <%= @count %>
  <% end %>
</p>

<%= turbo_frame_tag "manual_investments", data: { controller: "manual-investments" } do %>
  <% @manual_investments.each do |manual_investment| %>
    <%= render manual_investment %>
  <% end %>
<% end %>
